fastapi
uvicorn
chromadb
sentence-transformers
pymongo
unidecode
pydantic
pydantic-settings
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu