fastapi
uvicorn
chromadb
sentence-transformers
pymongo
unidecode
pydantic
pydantic-settings
torch==2.1.0+cpu --index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0+cpu --index-url https://download.pytorch.org/whl/cpu